/* css styles */
.navbar {background-color: #d20537 !important}
.video__iframe {
  margin: 0 auto;
  display: block;
  position: absolute; 
  top: 0; left: 0; width: 100%; height: 100%;
}


.video__iframe:not([src]) {
  display: none;
}

.video__iframe[src] + .video__notice {
  display: none;
}

.video {
  display: flex;
  align-items: center;
  position: relative;
  background-size:     cover;                    
  background-repeat:   no-repeat;
  background-position: center center;   
  /* background-color: rgb(0, 117, 121); */
}

.video::before {
  display: block;
  content: '';
  padding-bottom: 56.25%;
  width: 0;
  height: 0;
}

.video__notice {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 1.5rem;
  width: 100%;
}

.video__notice > * {
  max-width: 38rem;
  margin-left: auto;
  margin-right: auto;
}

.video__notice > button {
  font: inherit;
  padding: 0.5rem 1rem;
  background-color: #d20537;
  border: none;
  color: #fff;
  cursor: pointer;
}

.video__notice > button:hover,
.video__notice > button:focus {
  background-color: #000;
}